<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>customerCreation.ConsumerCCf</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CustomerCreationv3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CustomerCreationv4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LogintoCrm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CustomerCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CustomerCreation5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CustomerCreation6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CustomerCreation7</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
