<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70999e">  <td>20/05/08 20:45:15</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ConsumerCCf.SetUp()[pri:0, instance:customerCreation.ConsumerCCf@6eebc39e]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>20/05/08 20:45:26</td>   <td>11067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerCCf.LogintoCrm()[pri:1, instance:customerCreation.ConsumerCCf@6eebc39e]">LogintoCrm</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>20/05/08 20:45:37</td>   <td>22138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerCCf.CustomerCreation()[pri:2, instance:customerCreation.ConsumerCCf@6eebc39e]">CustomerCreation</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>20/05/08 20:47:48</td>   <td>153677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerCCf.CustomerCreationv3()[pri:4, instance:customerCreation.ConsumerCCf@6eebc39e]">CustomerCreationv3</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>20/05/08 20:48:32</td>   <td>197061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerCCf.CustomerCreationv4()[pri:5, instance:customerCreation.ConsumerCCf@6eebc39e]">CustomerCreationv4</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>20/05/08 20:48:55</td>   <td>220412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerCCf.CustomerCreation5()[pri:6, instance:customerCreation.ConsumerCCf@6eebc39e]">CustomerCreation5</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>20/05/08 20:49:32</td>   <td>257321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerCCf.CustomerCreation6()[pri:7, instance:customerCreation.ConsumerCCf@6eebc39e]">CustomerCreation6</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>20/05/08 20:49:39</td>   <td>264331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerCCf.CustomerCreation7()[pri:8, instance:customerCreation.ConsumerCCf@6eebc39e]">CustomerCreation7</td> 
  <td>main@101478235</td>   <td></td> </tr>
</table>
