<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>maven.Merniss</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SairIslem</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>YeniSorgulama</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TcKimlikNo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MernisLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerificationComment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InquiryCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
