<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f6473">  <td>19/07/02 10:36:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Merniss.InquiryCustomer()[pri:0, instance:maven.Merniss@51081592]">InquiryCustomer</td> 
  <td>main@466505482</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>19/07/02 10:36:01</td>   <td>-13477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Merniss.Login()[pri:0, instance:maven.Merniss@51081592]">Login</td> 
  <td>main@466505482</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>19/07/02 10:36:21</td>   <td>6311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Merniss.MernisLink()[pri:0, instance:maven.Merniss@51081592]">MernisLink</td> 
  <td>main@466505482</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>19/07/02 10:36:17</td>   <td>2736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Merniss.SairIslem()[pri:0, instance:maven.Merniss@51081592]">SairIslem</td> 
  <td>main@466505482</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>19/07/02 10:36:25</td>   <td>10155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Merniss.TcKimlikNo()[pri:0, instance:maven.Merniss@51081592]">TcKimlikNo</td> 
  <td>main@466505482</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>19/07/02 10:36:30</td>   <td>15749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Merniss.VerificationComment()[pri:0, instance:maven.Merniss@51081592]">VerificationComment</td> 
  <td>main@466505482</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>19/07/02 10:36:11</td>   <td>-3107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Merniss.YeniSorgulama()[pri:0, instance:maven.Merniss@51081592]">YeniSorgulama</td> 
  <td>main@466505482</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>19/07/02 10:35:49</td>   <td>-25881</td> <td>&nbsp;</td><td title="&gt;&gt;Merniss.link()[pri:0, instance:maven.Merniss@51081592]">&gt;&gt;link</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@466505482</td>   <td></td> </tr>
</table>
